<header>
  <div class="container">
    <h1 class="col-sm-12">RUNNING TIME APP</h1>
    <div
      class="row align-items-center justify-content-center text-center"
      id="menuMain"
    >
      <div class="col-sm-2 linkItem">
        <a href="/event">Event Home</a>
      </div>
      <div class="col-sm-2 linkItem">
        <a href="/event/new">Create Event</a>
      </div>
      <div class="col-sm-4">
        <!-- <a href="/event/new">Create Event</a> -->
      </div>
      <div class="col-sm-1 linkItem">
        <a href="/user/signup">Signup</a>
      </div>
      <div class="col-sm-1 linkItem">
        <a href="/user/login">Login</a>
      </div>
      <div class="col-sm-1 linkItem">
        <a href="/user/logout">Logout</a>
      </div>
    </div>
  </div>
  <nav>
    <div id="menu">
      <a href="/event"><div class="menu-item">Event Home</div></a>
    </div>

    <div id="hamburger">
      <label id="hamburger-label" for="hamburger-toggle">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </label>
      <input type="checkbox" id="hamburger-toggle" />
    </div>
  </nav>
</header>
