<header>
  <h1>The Run App</h1>
  <div id="navMenu">
    <div class="linkItem">
      <a href="/event">Event Home</a>
    </div>
    <div class="linkItem">
      <a href="/event/new">Create Event</a>
    </div>
    <div class="linkItem">
      <a href="/user/signup">Signup</a>
    </div>
    <div class="linkItem">
      <a href="/user/login">Login</a>
    </div>
    <div class="linkItem">
      <a href="/user/logout">Logout</a>
    </div>
  </div>
</header>
