body {
  background: linear-gradient(to bottom, #002c73 0%, #00a6e5 100%);

  height: 100%;
}
#mainimage {
  background-image: url("https://prodsitecoreimage.nyrr.org/nyrrsitecoreblob/nyrr/image/marathon-pages/homepage/meta-images/nycm18_sm_1866_r2_web.jpg");
  /* background: linear-gradient(to bottom, #002c73 0%, #00a6e5 100%); */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: auto;
}

a {
  text-decoration: none !important;
}
#appname {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  color: #002c73;
  height: 10rem;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px #00a6e5;
}

div h2 {
  text-align: center;
  color: #3b96eb;
  margin: 10px;
}
.container,
.row,
#form {
  margin: 10px;
  padding: 10px;
}
label {
  background-color: #00a6e5;
  background: linear-gradient(to bottom, #002c73 30%, #1574cd 100%);
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.linkItem {
  margin: 10px;
  padding: 10px;
  background-color: #00a6e5;
}
.linkItem a {
  color: #002c73;
}

button {
  all: unset;
}

#button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #81878f 0%, #f2f9fb 100%);
  border: 1px solid #002c73;
}

#event-item {
  margin: 10px;
  padding: 10px;
  font-size: large;
  border: 2px solid #00a6e5;
}

#event-item div {
  padding: 20px;
  border-right: 1px solid #002c73;
  color: white !important;
}

#event-item div a {
  color: white !important;
}

#event-item div:last-child {
  border-right: none;
}

#button {
  margin: 10px;
  padding: 10px;
  color: #0d6efd;
  border: 1px solid #00a6e5;
  text-align: center;
  background: linear-gradient(to top, #81878f 0%, #f2f9fb 100%);
}

#newuserbutton {
  padding: 10px;
  margin-top: 30px;
  color: #0d6efd;
  border: 1px solid #00a6e5;
  text-align: center;
  background: linear-gradient(to top, #81878f 0%, #f2f9fb 100%);
}

label {
  margin: 10px;
  font-size: larger;
  font-weight: 600;
}

label:after {
  content: ": ";
}

input,
select {
  margin: 10px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
}

#active {
  box-shadow: none;
  margin: 10px;
}

#times {
  color: #002c73;
  padding: 0px;
  margin: 0px;
}

.runner,
.event {
  color: #002c73;
}

#pace {
  color: rgb(200, 90, 50);
}

nav {
  display: none !important;
  all: unset;
}

#signup {
  padding-top: 100px;
  height: 40vw;
  margin: 10px;
}

@media (max-width: 600px) {
  #button {
    margin: 0%;
    margin-bottom: 5px;
    padding: 5px;
  }

  #event-item div {
    padding: 5px;
    border-right: none;
    color: white !important;
  }

  label {
    margin: 5px;
    font-size: medium;
    font-weight: 400;
  }

  label:after {
    content: ": ";
  }

  input,
  select {
    margin: 5px;
    box-shadow: 3px 3px 5px grey;
    font-size: medium;
    font-weight: 400;
  }

  .container,
  .row,
  #form {
    margin: 5px;
    padding: 5px;
  }

  #menuMain {
    display: none;
  }

  .navbar {
    background-color: linear-gradient(to bottom, #81878f 0%, #f2f9fb 100%);
    display: inline !important;
  }

  .linkItem {
    all: unset;
  }

  #signup {
    padding-top: 150px;
    height: 250vw;
  }

  .user input,
  .user label {
    font-size: larger;
    font-weight: 800;
  }

  #newuserbutton {
    padding: 10px;
    margin: 20px;
    color: #0d6efd;
    border: 1px solid #00a6e5;
    text-align: center;
    background: linear-gradient(to top, #81878f 0%, #f2f9fb 100%);
  }
}
