body {
  background: linear-gradient(to bottom, #002c73 0%, #00a6e5 100%);
  color: #3b96eb;
}
a {
  text-decoration: none;
}

#navMenu {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header h1 {
  text-align: center;
}
.linkItem {
  margin: 10px;
  padding: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: #00a6e5;
}
div {
  border: 0px solid red;
}
button {
  all: unset;
}

#button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #81878f 0%, #f2f9fb 100%);
}
/*event styles*/
#main-container {
  max-width: 80%;
  height: max-content;
}
#event-container {
  display: flex;
  flex-direction: column;
}
#event-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  font-size: large;
  color: #002c73;
  border: 1px solid #00a6e5;
}

#event-item div {
  padding: 20px;
  text-align: center;
  width: 30%;
  border-right: 1px solid#2faa37;
}

#event-item div:last-child {
  border-right: none;
}

#button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #00a6e5;
  width: 20%;
  text-align: center;
  background: linear-gradient(to top, #81878f 0%, #f2f9fb 100%);
}

/*Edit Form*/
form {
  width: 500px;
  margin-top: 20px;
}

label {
  width: 130px;
  color: black;
  float: left;
  margin: 10px;
}
label:after {
  content: ": ";
}
input,
select {
  padding: 3px;
  margin: 10px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  text-align: center;
}
#active {
  box-shadow: none;

  width: auto;
}
#distance,
select {
  display: inline-block;
  width: 140px;
}

/*Show Form*/
.eventDetail {
  display: inline;
}
